.product-new-container__product-column-3 {
    width: 60%;
}
.infor-product__image {
    position: relative;
}
.infor-product__image-1 {
    width: 100%;
}
.infor-product__image--small {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.infor-product__image-2 {
    width: 50%;
    border: 2px solid white;
}

.infor-product__help {
    margin-top: 30px;
}
.infor-product__help-main {
    display: flex;    
}
.infor-product__help--title-1,
.infor-product__help--title-2 {
    font-size: 16px;
    padding: 8px 15px;
    font-weight: 600;
    color: white;
}
.infor-product__help--title-1 {
    background-color: var(--orange);
}
.infor-product__help--title-2 {
    background-color: var(--gray-dark);
}
.infor-product__help--text {
    border: 1px solid var(--secondary);
}

.infor-product__help--infor,
.infor-product__help--guide {
    padding: 20px 15px;
}
.infor-product__help--content {
    font-size: 14px;
    line-height: 20px;
}

.infor-product__help--guide {
    display: none;
}



.product-new-container__product-column-2 {
    flex: 1;
    padding: 0 20px;
}
.product-new-container__product-column-2-sticky {
    position: sticky;
    top: 0;
}
.name-product {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.name-product-heart {
    color: var(--red);
}
.trademark,
.material,
.size,
.color {
    font-size: 15px;
    padding-top: 15px;
    color: var(--secondary);
}
.name-trademark {
    padding-right: 20px;
}
.strong-name {
    color: var(--gray-dark);
}
.price {
    padding-top: 30px;
    color: var(--gray-dark);
}
.new-price {
    color: var(--red);
    font-size: 45px;
    font-weight: 600;
}
.old-price {
    padding-left: 20px;
    font-size: 15px;
}
.sup-price {
    font-size: 50%;
}
.name-size > strong,
.strong-color {
    color: var(--red);
}
.size-select {
    padding-top: 10px;
}
.product__size-option-infor {
    margin: 0 10px 0 0;
}
.product__size-option-infor-select {
    border: 1px solid var(--red);
    color: var(--red );
}

.select-color {
    margin-top: 10px;
}

.radio-select-color {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 20px;
    font-size: 22px;
  }
  .radio-select-color input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark-yellow {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-image: url(../../image/polo-cam-1.webp);
    background-repeat:no-repeat;
    background-size: cover;
    border: 1px solid var(--indigo);
    border-radius: 50%;
  }
  .checkmark-blue {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-image: url(../../image/polo-xanh-1.webp);
    background-repeat:no-repeat;
    background-size: cover;
    border: 1px solid var(--indigo);
    border-radius: 50%;
  }
  .checkmark-white {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-image: url(../../image/polo-trang-4.webp);
    background-repeat:no-repeat;
    background-size: cover;
    border: 1px solid var(--indigo);
    border-radius: 50%;
  }
  .radio-select-color input:checked ~ .checkmark-yellow {
    border: 2px solid var(--red);
  }
  .radio-select-color input:checked ~ .checkmark-blue {
    border: 2px solid var(--red);
  }
  .radio-select-color input:checked ~ .checkmark-white {
    border: 2px solid var(--red);
  }


/*  */


.quantity {
    margin-top: 30px;
}
.button-minus,
.button-plus {
    padding: 8px;
    width: 40px;
    color: var(--red);
    border: 1px solid var(--red);
    font-size: 20px;
    background-color: var(--white);
}
.button-minus {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.button-plus {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.input-value {
    padding: 8px;
    width: 60px;
    text-align: center;
    font-size: 20px;
    border: 1px solid var(--red);
}
.button-minus:hover,
.button-plus:hover {
    color: var(--white);
    background-color: var(--red);
}

.active-buy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.add-to-cart,
.buy-now {
    color: var(--white);
    margin-top: 20px;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 50px;
    width: 49%;
    box-sizing: border-box;
}
.add-to-cart {
    background-color: var(--gray-dark);
    border: 1px solid var(--gray-dark);
}
.buy-now {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}
.add-to-cart:hover,
.buy-now:hover {
    background-color: var(--white);
    border: 1px solid var(--red);
    color: var(--red);
}


.recommend-size {
    margin: 30px 0;
    font-size: 20px;
    color: var(--red);
}

.box-sale-endow {
    border: 1px dashed var(--red);
    border-radius: 5px;
    background-color: #f7e3e9;
    position: relative;
}
.sale-endow__title {
    position: absolute;
    left: 20px;
    top: -18px;
    font-size: 20px;
    font-weight: 600;
    color: var(--red);
    background-color: var(--white);
    border: 1px dashed var(--red);
    border-radius: 5px;
    padding: 8px;
}
.gift {
    padding-right: 10px;
}
.fa-gift {
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0% {color: red;}
    33% {color: orange;}
    66% {color: green;}
    100% {color: blue;}
  }
.box-sale-endow__content {
    padding: 20px 10px;
    font-size: 15px;
    line-height: 20px;
}
.box-sale-endow__content--sale-off,
.box-sale-endow__content--freeship {
    display: flex;
    padding: 20px 10px;
    background-color: var(--white);
    margin-top: 20px;
}

.text {
    width: 60%;
}
.text > strong {
    background-color: var(--orange);
    color: var(--white);
    padding: 2px 4px;
}
.save {
    margin-left: 20px;
    width: 25%;
    height: 30px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    text-align: center;
}
.save:hover {
    background-color: red;
}
.product-new-container-infor {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--secondary);
}
.product-new-container-title-seen,
.product-new-container-title-similar {
    text-align: center;
}
.product-new-container-title--link-seen {
    color: var(--gray-dark) !important;
}



/* resposive */
@media screen and (max-width: 1024px) {
    .active-buy {
        display: block;
    }
    .add-to-cart,
    .buy-now {
        width: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
    .product-new-container__product-row--media {
        display: block;
    }
    .product-new-container__product-column-3,
    .product-new-container__product-column-2 {
        width: 100%;
    }
    .product-new-container__product-column-2 {
        margin-top: 20px;
    }
    .active-buy {
        display: flex;
    }
    .add-to-cart,
    .buy-now {
        width: 49%;
    }
    .box-sale-endow__content--sale-off,
    .box-sale-endow__content--freeship {
        width: 70%;
    }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
    .product-new-container__product-row--media {
        display: block;
    }
    .product-new-container__product-column-3,
    .product-new-container__product-column-2 {
        width: 100%;
    }
    .product-new-container__product-column-2 {
        margin-top: 20px;
    }
    .box-sale-endow__content--sale-off,
    .box-sale-endow__content--freeship {
        width: 70%;
    }
}

