.product-new {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}
.product-new-container-title {
    margin-bottom: 30px;
    padding: 0 6px;

}
.product-new-container-title--link {
    text-decoration: none;
    color: var(--gray-dark);
    font-size: 30px;
    letter-spacing: 6px;
    margin-bottom: 30px;
}
.product-new-container__product-row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-new-container__product-column {
    width: 20%;
}

.product-new-container__product-image,
.product-new-container__product-box {
    margin: auto;
    min-width: 190px;
}
.product-new-container__product-image {
    padding-top: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.product-new-container__product-image:hover {
    background-image: url(../image/polo-cam-2.webp);
}


.product-new-container__product-sale {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 4px;
    text-align: center;
    background-color: red;
    width: 38px;
    height: 35px;
    font-weight: 600;
    font-size: 12px;
    color: var(--white);
}
.product-new-container__product-sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 19px 6px;
    border-style: solid;
    border-color: transparent red transparent red;
}


/* .product__size { 
    bottom: -20px;
    left: 0;
    position: absolute;
    opacity: 0;
}
.select-color { 
    bottom: -20px;
    left: 0;
    position: absolute;
    opacity: 0;
}
.only:hover .select-color {
    transition-delay: 5s;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(-70px);
}
.only:hover .product__size {
    transition-delay: 5s;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(-20px);
} */

.product__size-option {
    background-color: var(--light);
    font-size: 14px;
    width: 30px;
    padding: 4px 0;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--light);
    color: var(--gray-dark);
    margin: 0 0 8px 8px;
    /* cursor: pointer;
    user-select: none;
} */
}

.product-new-container__product-sample {
    bottom: -70px;
    left: 0;
    position: absolute;
    opacity: 0;
}
.only:hover .product-new-container__product-sample {
    transition-delay: 5s;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(-70px);
}
.product-new-container__product-color {
    margin-bottom: 5px;
}


.product__size-option:hover {
    color: var(--red);
    border: 1px solid var(--red);
} */

.product-new-container__product-infor {
    position: relative;
    margin-top: 8px;
}
.product-new-container__product-shop-name {
    font-size: 14px;
    font-weight: 600;
    color: #999999;
    margin: 8px 0;

}
.product-new-container__product-product-name-link {
    list-style-type: none;
}
.product-new-container__product-product-name {
    color: var(--gray-dark);
    font-size: 14px;
    margin: 8px 0;
}
.product-new-container__product-product-name:hover {
    color: var(--orange);
}
.product-new-container__product-box {
    padding-bottom: 16px;
}
.only:hover .product-new-container__product-action-cart {
    transition-delay: 0.15s;
	opacity: 1;
	visibility: visible;
    transform: translateY(-20px);
}
.only:hover .product-new-container__product-price {
    opacity: 0;
    transition: 0.8s;
}
.product-new-container__product-price {
    margin-right: 10px;
    font-size: 14px;
}
.product-new-container__product-price-sale {
    color: var(--red);
    font-weight: bold;
    margin-right: 10px;
}
.product-new-container__product-price-old {
    color: var(--secondary);
}

.product-new-container__product-action-cart {
    display: flex;
    color: var(--red);
    font-size: 16px;
    opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}


.action-cart-like,
.action-cart-add,
.action-cart-buy {
    margin-right: 6px;
    }
.action-cart-like,
.action-cart-add,
.action-cart-buy-box {
    background-color: var(--red);
    padding: 4px 8px;
    color: var(--light);
    border-radius: 4px;
}

.action-cart-like:hover,
.action-cart-add:hover,
.action-cart-buy-box:hover {
    background-color: red;
}
@media screen and (max-width: 550px) {
    .only {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


