/******************** taplet */
@media only screen and (max-width: 1023px) {
    .hide-on-taplet {
        display: none;
    }
    .header-up__search-input {
        flex: 0 0 90%;
    }
    .login-board, .signup-board {
        border-right: 1px solid var(--red);
    }
    .login-board__desc, .signup-board__desc {
    padding: 30px 10px 30px 20px;
    }
    .login-board__socials-option, .signup-board__socials-option {
        width: 80%;
        height: 30px;
        padding: 10px 0;
        margin-bottom: 5px;
    }
    .login-board__socials-item, .signup-board__socials-item {
        flex-direction: column;
        align-items: center;
        height: 70px;
    }
    
    /*** product *****/
    .toast {
        width: 40vw;
    }
    /****** top sell ***********/
    .top-product {
        height: 900px;
    }
    .top-product__video {
        width: 100%;
        height: 400px;
        top: 500px;
    }
    .top-product__list {
        height: 500px;
        top: 0;
        width: 100%;
    }
    /*************** news ****************/
    .news-left {
        margin-bottom: 24px;
    }
    /**** gift in detailproduct ****/
    .detailproduct-right__voucher-gift {
        width: 25%;
    }
    
}
/*************************** mobile */
@media only screen and (max-width: 739px) {
    html {
        font-size: 50%;
    }
    /****** header ***********/
    .hide-on-mobile {
        display: none;
    }
    .header-up__search-input {
        flex: 0 0 80%;
    }
    .show-on-mobile {
        display: block;
    }
    .header {
        height: 90px;
    }.header-up__search {
        justify-content: space-between;
    }
    .toast {
        width: 50vw;
    }
    /******* container ********/
    .container {
        top: 100px;
        margin-top: 0;
    }
    /******** top product ********/
    .top-product {
        height: 830px;
    }
    /********** news ***********/
    .news-right__item {
        height: 170px;
    }
    .news-right__item-img {
        height: 140px;
    }
    /******** key top *********/
    .key-top__item-link {
        flex-basis: 25%;
    }
    /**** gift in detailproduct ****/
    .detailproduct-right__voucher-gift {
        width: 28%;
    }
}
/********************** mobile min **********************/
@media only screen and (max-width: 469px) {
    html {
        font-size: 48%;
    }
    /****** header ***********/
    .header-up__search-input form button {
        flex-basis: 30%;
    }
     /***************** top product ****************/
    .top-product {
        height: 1220px;
    }
    /********** news ***********/
    .news-right__item {
        height: 150px;
    }
    .news-right__item-img {
        height: 120px;
    }
    /**************** product detail **************/
    .detailproduct-right__btn-action-wrap {
        flex-direction: column;
    }
    .btn.btn-cart {
        margin-bottom: 24px;
    }
}