/******************** taplet */
@media only screen and (max-width: 1023px) {
    .hide-on-taplet {
        display: none;
    }
    .header-up__search-input {
        flex: 0 0 90%;
    }
    .login-board, .signup-board {
        border-right: 1px solid var(--red);
    }
    .login-board__desc, .signup-board__desc {
    padding: 30px 10px 30px 20px;
    }
    .login-board__socials-option, .signup-board__socials-option {
        width: 80%;
        height: 30px;
        padding: 10px 0;
        margin-bottom: 5px;
    }
    .login-board__socials-item, .signup-board__socials-item {
        flex-direction: column;
        align-items: center;
        height: 70px;
    }
    /*** product *****/
    .product__img {
        height: 300px;
    }
    .new-product .row .col:last-child .product .view-more {
        height: 300px;
    }
    .small-container .row .col:last-child .product .view-more {
        height: 300px;
    }
    .toast {
        width: 40vw;
    }
    /****** top sell ***********/
    .top-product {
        height: 900px;
    }
    .top-product__video {
        width: 100%;
        height: 400px;
        top: 500px;
    }
    .top-product__list {
        height: 500px;
        top: 0;
        width: 100%;
    }
    /*************** news ****************/
    .news-left {
        margin-bottom: 24px;
    }
}
/*************************** mobile */
@media only screen and (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header-up__search-input {
        flex: 0 0 80%;
    }
    .show-on-mobile {
        display: block;
    }
    .header {
        height: 90px;
    }.header-up__search {
        justify-content: space-between;
    }
    .toast {
        width: 50vw;
    }
}